<!DOCTYPE html>
<html>
  <head>
    <title>Tictactoe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- CSS for users with dark mode -->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_black.min.css" media="(prefers-color-scheme: dark)">

    <!-- CSS for users without dark mode -->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_pastel-pink.min.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">

  </head>

  <body>

    <% if logged_in_player %>
      <!-- logged_in_player will return a truthy if a player is logged in -->
      <%= "Logged in as #{logged_in_player.display_name}. (Your email is #{logged_in_player.email}.)" %> | <%= link_to 'Log Out', logout_path, method: :delete %>
      <%# TODO Log out link does not use delete method. %>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', signup_path %>
    <% end %>

    <% if alert %>
      <%= alert %>
    <% end %>
    
    <% if notice %>
      <%= notice %>
    <% end %>

    <%= yield %>
  </body>
</html>
